*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
section{
    padding: 30px;
    background-color: antiquewhite;

}
#header{
    display: flex;
    justify-content: space-around;
    background-color: whitesmoke;
}
.menu-button{
    display:flex;
    justify-content: space-around;
    margin-left: 50px;
    margin-top: 50px; 
}
.logo{
    margin-top: 30px;
    margin-bottom: 30px;
    color: white;
    font-size: 30px;
    background-color: black;
    border-radius: 50%;
}
#btn-menu{
    text-decoration: none;
    color:whitesmoke;
    margin-left: 100px;
    background-color:black;
    padding: 12px 16px;
    margin-bottom: 30px;
    border-radius: 10px;
}
#btn-menu:hover{
    background-color: yellowgreen;
    border: none;
}
.logo>p{
    padding: 12px;
}
#about-me{
    display: flex;
    background-color: antiquewhite;
}
.left{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 100px;
    font-size: 25px;
}
.right{
    width: 50%;
    padding: 100px;
}
.pic-profile{
    width: 100%;
    border-radius: 10%;
}
.hire-btn{
    padding: 12px;
    width: 30%;
    font-size: 20px;
    margin-top:30px ;
    border-radius: 10px;
}
.hire-btn:hover{
    background-color: yellowgreen;
}
#testimonies{
    padding-right: 100px;
    padding-left: 100px;
}
#testimony{
    display: flex;
}
#testimonies > h1{
font-size: 40px;
}
#projects{
    display: flex;
    justify-content:space-around ;
    background-color: antiquewhite;

}
.project-heading{
text-align: center;
font-size: 40px;
padding-bottom: 20px;
}
.project-text{
    text-align: center;
    background-color:black;
    width: 33%;
    margin: 20px;
    border-radius: 15px;
    color: whitesmoke;
    height: 400px;
    border: solid black;
}
.project-text > img{
    width: 100%;
    height: 70%;
    border-radius: 15px;
}

.check:hover{
    color: yellowgreen;
   
}
.footer{
    /* background: linear-gradient(90deg, rgba(71,66,71,1) 0%, rgba(19,3,29,1) 0%,
     rgba(9,35,103,1) 100%, rgba(253,29,29,1) 100%, rgba(252,176,69,1) 100%);    height: 30vh; */
     background: black;

}
.footer >h1{
    color: white;
    text-align: center;
    padding-top:20px;
    padding-bottom: 30px;
}
ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    color: white;
}
ul:hover{
    color: yellowgreen;
}
i{
    font-size: 30px;
    color: white;
}